html {
    font-size: 36px;
}

main {
    width: 80%;
    max-width: 800px;
    margin: 2% 0;
}

.card {
    padding: 70px 50px 20px;
}

p {
    margin: 25px 0 0;
}

.me {
    width: 128px;
    height: 128px;
}

.skills {
    padding-top: 20px;
}